* {
  -fx-font-family: 'Roboto Light';
  -fx-text-fill: #FC1554;
  -fx-prompt-text-fill: #333333;
  -fx-border-width: 1px; }

.root {
  -fx-background-color: #292727; }

Label, TextField, PasswordField, Text {
  -fx-font-size: 18px; }

Button {
  -fx-font-size: 24px; }

Text {
  -fx-fill: #FC1554;
  -fx-font-smoothing-type: gray; }

Text#welcome {
  -fx-font-size: 38px; }

TextField, PasswordField {
  -fx-background-color: #292727;
  -fx-border-color: #FC1554;
  -fx-border-width: 0 0 1px 0; }

Button, CheckBox .box {
  -fx-background-color: #333333;
  -fx-border-color: #FC1554; }

Button#login {
  -fx-alignment: center-left;
  -fx-border-radius: 3px 0 0 3px;
  -fx-shape: "M3,1.12409742e-14 L164.973145,0 L101.672535,55 L3,55 L3,55 C1.34314575,55 4.23913811e-14,53.6568542 4.21884749e-14,52 L4.35207426e-14,3 L4.39648318e-14,3 C4.37619256e-14,1.34314575 1.34314575,1.14065894e-14 3,1.11022302e-14 Z"; }
Button#register {
  -fx-alignment: center-right;
  -fx-border-radius: 0 3px 3px 0;
  -fx-shape: "M63.3095703,0 L162,0 L162,0 C163.656854,-3.04359188e-16 165,1.34314575 165,3 L165,52 L165,52 C165,53.6568542 163.656854,55 162,55 L0,55 L63.3095703,0 Z"; }
Button.settings {
  -fx-shape: "M302.175,188.95 L282.575,180.85 C285.975,163.95 285.875,146.85 282.575,130.45 L302.275,122.35 C309.275,119.45 312.675,111.35 309.775,104.35 L300.875,82.95 C297.975,75.95 289.875,72.55 282.875,75.45 L263.175,83.55 C253.875,69.65 241.875,57.45 227.575,47.85 L235.675,28.25 C238.575,21.25 235.275,13.15 228.275,10.25 L206.875,1.35 C199.875,-1.55 191.775,1.75 188.875,8.75 L180.775,28.35 C163.875,24.95 146.775,25.05 130.375,28.35 L122.275,8.65 C119.375,1.65 111.275,-1.75 104.275,1.15 L82.875,10.05 C75.875,12.95 72.475,21.05 75.375,28.05 L83.475,47.75 C69.575,57.05 57.375,69.05 47.775,83.35 L28.175,75.25 C21.175,72.35 13.075,75.65 10.175,82.65 L1.275,104.05 C-1.625,111.05 1.675,119.15 8.675,122.05 L28.275,130.15 C24.875,147.05 24.975,164.15 28.275,180.55 L8.575,188.65 C1.575,191.55 -1.825,199.65 1.075,206.65 L9.975,228.05 C12.875,235.05 20.975,238.45 27.975,235.55 L47.675,227.45 C56.975,241.35 68.975,253.55 83.275,263.15 L75.175,282.75 C72.275,289.75 75.575,297.85 82.575,300.75 L103.975,309.65 C110.975,312.55 119.075,309.25 121.975,302.25 L130.075,282.65 C146.975,286.05 164.075,285.95 180.475,282.65 L188.575,302.35 C191.475,309.35 199.575,312.75 206.575,309.85 L227.975,300.95 C234.975,298.05 238.375,289.95 235.475,282.95 L227.375,263.25 C241.275,253.95 253.475,241.95 263.075,227.65 L282.675,235.75 C289.675,238.65 297.775,235.35 300.675,228.35 L309.575,206.95 C312.575,199.85 309.175,191.85 302.175,188.95 Z M131.875,212.55 C100.375,199.55 85.475,163.45 98.475,131.95 C111.475,100.45 147.575,85.55 179.075,98.55 C210.575,111.55 225.475,147.65 212.475,179.15 C199.475,210.65 163.375,225.55 131.875,212.55 Z"; }
Button:hover, Button:focused {
  -fx-text-fill: #333333;
  -fx-background-color: #FC1554; }
Button:pressed {
  -fx-text-fill: #FC1554;
  -fx-background-color: #292727; }

CheckBox .mark {
  -fx-shape: "M7 12 13 6 15 8 7 16 3 12 5 10"; }
CheckBox:selected .mark {
  -fx-background-color: #FC1554; }

/*# sourceMappingURL=Login.css.map */
