$primary: #FC1554;
$light: #333333;
$dark: #292727;

$large_text: 38px;
$medium_text: 24px;
$small_text: 18px;

$component_border: $primary;
$component_fill: $light;
$component_background: $dark;

$primary_text: $primary;
$placeholder_text: $light;

$settings_icon_svg: "M302.175,188.95 L282.575,180.85 C285.975,163.95 285.875,146.85 282.575,130.45 L302.275,122.35 C309.275,119.45 312.675,111.35 309.775,104.35 L300.875,82.95 C297.975,75.95 289.875,72.55 282.875,75.45 L263.175,83.55 C253.875,69.65 241.875,57.45 227.575,47.85 L235.675,28.25 C238.575,21.25 235.275,13.15 228.275,10.25 L206.875,1.35 C199.875,-1.55 191.775,1.75 188.875,8.75 L180.775,28.35 C163.875,24.95 146.775,25.05 130.375,28.35 L122.275,8.65 C119.375,1.65 111.275,-1.75 104.275,1.15 L82.875,10.05 C75.875,12.95 72.475,21.05 75.375,28.05 L83.475,47.75 C69.575,57.05 57.375,69.05 47.775,83.35 L28.175,75.25 C21.175,72.35 13.075,75.65 10.175,82.65 L1.275,104.05 C-1.625,111.05 1.675,119.15 8.675,122.05 L28.275,130.15 C24.875,147.05 24.975,164.15 28.275,180.55 L8.575,188.65 C1.575,191.55 -1.825,199.65 1.075,206.65 L9.975,228.05 C12.875,235.05 20.975,238.45 27.975,235.55 L47.675,227.45 C56.975,241.35 68.975,253.55 83.275,263.15 L75.175,282.75 C72.275,289.75 75.575,297.85 82.575,300.75 L103.975,309.65 C110.975,312.55 119.075,309.25 121.975,302.25 L130.075,282.65 C146.975,286.05 164.075,285.95 180.475,282.65 L188.575,302.35 C191.475,309.35 199.575,312.75 206.575,309.85 L227.975,300.95 C234.975,298.05 238.375,289.95 235.475,282.95 L227.375,263.25 C241.275,253.95 253.475,241.95 263.075,227.65 L282.675,235.75 C289.675,238.65 297.775,235.35 300.675,228.35 L309.575,206.95 C312.575,199.85 309.175,191.85 302.175,188.95 Z M131.875,212.55 C100.375,199.55 85.475,163.45 98.475,131.95 C111.475,100.45 147.575,85.55 179.075,98.55 C210.575,111.55 225.475,147.65 212.475,179.15 C199.475,210.65 163.375,225.55 131.875,212.55 Z";
$checkbox_tick_svg: "M7 12 13 6 15 8 7 16 3 12 5 10";

* {
	-fx-font-family: 'Roboto Light';
	-fx-text-fill: $primary_text;
	-fx-prompt-text-fill: $placeholder_text;
	-fx-border-width: 1px;
}

.root {
	-fx-background-color: $component_background;
}

@mixin TextSize($size) {
	-fx-font-size: $size;
}

Label, TextField, PasswordField, Text {
	@include TextSize($small_text);
}

Button {
	@include TextSize($medium_text);
}

Text {
	-fx-fill: $primary_text;
	-fx-font-smoothing-type: gray;
}